.viewer
  .image
    = image_tag @image.url(:full), class: 'img-responsive'
- unless params[:id] == 'random'
  .order
    - if @order.new_record?
      = simple_form_for @order do |f|
        = f.input :event_id, as: :hidden
        = f.input :client_id, as: :hidden
        = f.input :image_id, as: :hidden
        = f.submit 'Commander', class: 'btn btn-success'
    - else
      = link_to [@order, {client_id: @client}], method: :delete, class: 'btn btn-danger' do
        Annuler ma commande
  - if @next
    = link_to [@client, @event, @next], class: 'control next' do
      .fa.fa-angle-right
  - else
    = link_to client_event_images_path(client_id: @client, event_id: @event), class: 'control next' do
      .fa.fa-angle-right

  - if @previous
    = link_to [@client, @event, @previous], class: 'control previous' do
      .fa.fa-angle-left
  - else
    = link_to client_event_images_path(client_id: @client, event_id: @event), class: 'control previous' do
      .fa.fa-angle-left

  = link_to client_event_images_path(client_id: @client, event_id: @event), class: 'btn btn-default btn-lg back' do
    .fa.fa-home
- else
  - content_for :head do
    %meta{ 'http-equiv' => 'refresh', content: 5 }
